html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 100px; /* bottom = footer height */
    background-color: #131313;
    color: rgba(255, 255, 255, 255);
    font-family: monospace;
}

a, a:link, a:visited, a:active {
	text-decoration: none;
	color: rgba(255, 255, 255, 255);
}

a:hover {
	text-decoration: underline;
}

div {
	margin: auto;
	margin-top: 50px;
	text-align: center;
	width: 90%;
}

img {
	width: 100%;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
}