@font-face {
	font-family: AvenirBlack;
	src: url("../fonts/AvenirLTStd-Black.otf") format("opentype");
}

@font-face {
	font-family: AvenirBook;
	src: url("../fonts/AvenirLTStd-Book.otf") format("opentype");
}

@font-face {
	font-family: AvenirLight;
	src: url("../fonts/AvenirLTStd-Light.otf") format("opentype");
}

/* body element with background setup for parallax scrolling */
body { 
    background-image: url('../img/background.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 150px;
    background-color: #fff;
    font-family: AvenirBlack;
}

/* no parallax over 1200px for performance reasons */
@media (min-width: 1200px) {
	body {
		background-attachment: scroll;
	}
}

@media (min-width: 320px) {
   body { font-size: 12px; }
}

@media (min-width: 640px) {
   body { font-size: 16px; }
}

.fracture {
	color: #F26D20;
}

/* the white full-width text boxes (also used for header/footer) */
.whitebox-row {
	background-color: #fff;
}

.whitebox-col {
	background-color: #fff;
	width: 100%;
}

/* some bootstrap extras */
.row.top-padding {
	padding-top: 25px;
}
.row.bottom-padding {
	padding-bottom: 25px;
}
.row.both-padding {
	padding-top: 25px;
	padding-bottom: 25px;
}
/* end bootstrap extras */

.center-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}




/* header */
#header img {
	width: 100%;
	max-width: 768px;
}





/* warriors section */
#warriors-logo img {
	width: 50%;
	max-width: 500px;
}

#app-store-logos img {
	width: 100%;
	max-width: 300px;
}

#best-of-2014 img {
	width: 30%;
	max-width: 400px;
}

#editors-choice img {
	width: 30%;
	max-width: 400px;
}




/* arcane galaxies section */
#arcane-galaxies {
	height: 100vw;
	width: 100%;
}

#arcane-galaxies img {
	display: block;
	position: absolute;
}

/* desktop (clamps images to pixel sizes) */
@media (min-width: 1200px) {
	#arcane-galaxies {
		padding-right: 10%;
		padding-left: 10%;
		max-height: 85vh;
	}

	#agblurb {
		max-width: 600px;
		top: 5%;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		z-index: 1;
	}

	#spaceship {
		max-width: 600px;
		top: 15%;
		margin-left: 50%;
		z-index: 2;
	}

	#silhouettes {
		max-width: 400px;
		bottom: 0px;
		margin-left: 10%;
	}	
}

/* phone (uses screen ratio) */
@media (max-width: 1199px) {
	#agblurb {
		width: 60%;
		max-width: 600px;
		top: 5%;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		z-index: 1;
	}

	#spaceship {
		width: 50%;
		top: 35%;
		right: 5%;
		z-index: 2;
	}

	#silhouettes {
		width: 30%;
		bottom: 0px;
		left: 10%;
	}
}













/* footer */
#footer {
	margin-bottom: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	width: 100%;
}

#footer #contact {
	display: block;
	width: 100%;
	max-width: 800px;
	left: 0px;
	right: 0px;
	margin-left: auto;
	margin-right: auto;

}