@font-face {
	font-family: AvenirBlack;
	src: url("../fonts/AvenirLTStd-Black.otf") format("opentype");
}

@font-face {
	font-family: AvenirBook;
	src: url("../fonts/AvenirLTStd-Book.otf") format("opentype");
}

@font-face {
	font-family: AvenirLight;
	src: url("../fonts/AvenirLTStd-Light.otf") format("opentype");
}

/* body element with background setup for parallax scrolling */
body { 
/*  background-image: url('../img/background.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center 50px;*/
    background-color: #fff;
    font-family: AvenirBlack;
}

/* no parallax over 1200px for performance reasons */
@media (min-width: 1200px) {
	body {
		background-size: 100% 100%;
	}
}

@media (min-width: 320px) {
   body { font-size: 12px; }
}

@media (min-width: 640px) {
   body { font-size: 16px; }
}

.fracture {
	color: #F26D20;
}

/* the white full-width text boxes (also used for header/footer) */
.black-row {
	background-color: #000000;
	height: 100px;
}

.black-col {
	background-color: #000000;
	height: 100px;
	width: 100%;
}

/* some bootstrap extras */
.row.top-padding {
	padding-top: 25px;
}
.row.bottom-padding {
	padding-bottom: 25px;
}
.row.both-padding {
	padding-top: 25px;
	padding-bottom: 25px;
}
/* end bootstrap extras */

.center-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}



/* debug box */
#debug-box {
	display: block;
	position: fixed;
	left: 10px;
	top: 10px;
	background-color: #fff;
	color: #000;
	z-index: 5;
}








/* header */
#header img {
	width: 100%;
	max-width: 768px;
}










/* warriors section */
#warriors-logo img {
	width: 50%;
	max-width: 500px;
}

#app-store-logos img {
	width: 100%;
	max-width: 300px;
}

#best-of-2014 img {
	width: 30%;
	max-width: 400px;
}

#editors-choice img {
	width: 30%;
	max-width: 400px;
}











/* arcane galaxies section */
#arcane-galaxies {
	height: 100vw;
	width: 100%;
}

#arcane-galaxies img {
	display: block;
	position: absolute;
}

/* desktop (clamps images to pixel sizes) */
@media (min-width: 1200px) {
	#fracture-logo {
		max-width: 600px;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;	
		margin-top: 20vh;	
		z-index: 1;
	}
}

/* phone (uses screen ratio) */
@media (max-width: 1199px) {
	#fracture-logo {
		width: 75%;
		max-width: 600px;
		margin-top: 20vh;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		z-index: 1;
	}
}

.hero__background video {
    top: 0;
    height: 100%;
    position: absolute;
    width: auto;
	    
}

@media (min-width: 1100px) {
	.hero__background video {
	    height: auto;
	    min-height: 100% !important;
	    width: 100%;
	}
}

video {
    display: inline-block;
    object-fit: contain;
}











/* footer */
#footer {
	margin-bottom: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	width: 100%;
}

#footer #contact {
	display: block;
	width: 100%;
	max-width: 800px;
	left: 0px;
	right: 0px;
	margin-left: auto;
	margin-right: auto;

}