@font-face {
	font-family: AvenirBlack;
	src: url("../fonts/AvenirLTStd-Black.otf") format("opentype");
}

@font-face {
	font-family: AvenirBook;
	src: url("../fonts/AvenirLTStd-Book.otf") format("opentype");
}

html, body {
	height: 100%;
	width: 100%;
	overflow-x: hidden;
}

@media (min-width: 320px) {
   body { font-size: 16px; }
   .bigfont { font-size: 24px; }
   .hugefont { font-size: 32px; }
}

@media (min-width: 640px) {
   body { font-size: 24px; }
   .bigfont { font-size: 32px; }
   .hugefont { font-size: 48px; }
}

.fullwidth {
	width: 100%;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

#header {
	z-index: 3;
}

#black-header {
	background-color: #000000;
	text-align: center;
	color: #fff;
	font-family: AvenirBlack;
	padding: 10px;
}

#mountain {
	display: inline-block;
	vertical-align: middle;
}

#mountain img {
	width: auto;
	height: 10vh;
}

#black-header { line-height: 75px; }
#black-header a:link { color: #fff; text-decoration: none; } 
#black-header a:visited { color: #fff; text-decoration: none; } 
#black-header a:hover { color: #fff; text-decoration: none; } 

.rainbow {
	background-image: url("../img/Frac_webpage_gradientstrip.png");
	background-size: auto;
	height: 2px;
	z-index: 3;
}

#content {
	position: absolute;
	/* top offset dictated by javascript */
}

.content-row {
	padding: 50px;
	text-align: center;
	font-family: AvenirBook;
	color: #000;	
}

.grey-row {
	background-color: #e6e6e6;
}

.white-row {
	background-color: #fff;	
	font-family: AvenirBlack;
	color: #bfbfbf;
}

#logos {
	max-width: 788px;
	width: 90%;
}

.center-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* desktop (clamps images to pixel sizes) */
@media (min-width: 1200px) {
	#fracture-logo {
		max-width: 1000px;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;	
		margin-top: 20vh;	
		z-index: 1;
	}
}

/* phone (uses screen ratio) */
@media (max-width: 1199px) {
	#fracture-logo {
		width: 75%;
		max-width: 600px;
		margin-top: 20vh;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		z-index: 1;
	}
}

.hero__background video {
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;    
    display: inline-block;
    object-fit: cover;    
    z-index: -2;    
}

/* grid pattern over the top of the video */
#video-overlay {
	display: inline-block;
	top: 0;
	position: absolute;
	height: 100%;
	width: 100%;
	background-image: url("../img/bg_spot.png");
	background-repeat: repeat;
	z-index: -1;
}

#video-replacement { display: none; }

@media (max-width: 600px) {
	.hero__background video { display: none; }	
	#video-overlay { display: none; }

	#video-replacement {
		display: inline-block;
		position: absolute;
		top: 0px;
		object-fit: cover;
		z-index: -1;
		height: 100%;
		width: auto;
	}
}
